<section class="ui raised segment">
  <div class="ui grid">
    <aside class="sixteen wide column">
      <img src="" class="ui medium image">
    </aside>
    <article class="sixteen wide column">
      <table class="ui celled table segment">
        <thead>
          <tr>
            <th>Climb Name</th>
              <th>Added By</th>
              <th>Category</th>
              <th>View</th>
              <th>Delete</th>
          </tr>
        </thead>
        <tbody>

          {{#each climbs}}
            <tr>
              <td> {{climb_name}} </td>
                <td> {{editor.firstName}} {{editor.lastName}} </td>
                <td> {{category.category_name}}, {{category.category_location}}</td>
                <td> <a href="/viewClimb{{_id}}"> <i class="edit outline icon"></i> </a></td>
                <td> <a href="/deleteClimb{{_id}}"> <i class="trash red alternate outline icon"></i> </a> </td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    </article>
  </div>
</section>